@mixin column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

$nav-bg-color: purple;
$box-shadow: gold;
$body-bg-color: purple;
$see-through-blue: gold;

figcaption {
    color: gold;
    font-family: cursive, Times, serif;
    font-size: 40px;
}

a:hover {
    text-decoration: none;
}

body {
    background-color: $body-bg-color;
}

.body-content {
    color: purple;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.body-content img {
    height: 100px;
    width: auto;
}

.my-companylogo {
    // color: black;
    padding-right: 26px;
    font-size: 30px;
}

.error {
    color: black;
    text-align: center;
}

.results {
    z-index: -1;
    @include column-center();
    padding-top: 10px;
    display: grid;
    position: relative;
    max-width: 100%;
    grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
    grid-template-rows: minmax(300px, auto);
    margin: 40px;
    grid-auto-flow: dense;
    grid-gap: 10px;
}

.results .box {
    color: #fff;
    padding: 5px;
    display: grid;
    place-items: center;
    text-align: center;
    transition: 0.5s;
}

.container .box img {
    position: relative;
    max-width: 200px;
    margin-bottom: 10px;
}

.navbar {
    background-color: $nav-bg-color;
    position: sticky;
    top: 0px;
}

.my-btn {
    background-color: gold;
    color: purple;
    width: 100%;
    margin: 5px;
    border: none;
}

.my-btn:hover {
    background-color: purple;
    color: gold;
    border: 4px solid black;
    font-weight: bold;
    transition: .5s;
}

.my-input {
    width: 100%;
    margin: 5px;
    padding: 5px;
    border-radius: 7px;

}

.my-input:hover {
    border: 4px solid black;
    border-radius: 7px;
}

.dropdown-menu {
    background-color: gold;
    padding: 0px;
}

.dropdown-item:hover {
    background-color: purple;
    color: gold;
    border: 4px solid black;
    font-weight: bold;
    transition: .5s;
}

@media screen and (min-width: 320px) {
    .my-form {
        display: flex;
        flex-direction: column;
    }

    .my-input {
        width: 100%;
    }
}

@media screen and (min-width: 575px) {
    .my-form {
        display: flex;
        flex-direction: row;
    }

    .my-input {
        width: 90px;
    }
}

@media screen and (min-width: 768px) {
    .my-form {
        display: flex;
        flex-direction: row;
    }

    .my-input {
        width: 200px;
    }
}

